<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrders" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProducts">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/Orders/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrders"
                contract="Orders.IOrders" name="BasicHttpBinding_IOrders" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF/ModificarPrecio/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProducts"
                contract="Products.IProducts" name="WSHttpBinding_IProducts">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>